- provide(:title, 'About Us')

.content
  %p Foodpal provides an aesthetically appealing, modern website with the ability for local restaurants to increase order volume and spotlight their brands from one network. Foodpal is dedicated to providing an advanced level of customer service to increase communication and sales, while being the "one stop shop" platform for customers and restaurant partners. 

  %p We have initialized our newest Foodpal Points Program, a customer-restaurant loyalty rewards program to attract new customers and encourage existing customers to return with a smile. Foodpal is up-to-date and prepared to reach more customers with our intuitive application for Iphone, Ipad and Android mobile devices, while constantly developing new communication tools to evolve our network.

  %p Foodpal Plan
  %p Foodpal`s plan is simple and easy. Restaurant partners have the power to create their own program that works for their business. Restaurant partners can promote their specials and change promotions at their leisure. There are no annual fees or monthly subscription contract for our network. Restaurant partners increase sales with a hassle-free program ordering service. 
  %ul
    %li No monthly subscriptions
    %li No annual fee
    %li Restaurant partners establish a minimum order amount
    %li Restaurant partners can encourage customer`s to order more
    %li Cancel anytime policy
   
  %p Sign-up now for our Introductory Promotion: NO Order FEES Until July 2013!
  %p
    Still not convinced? Try us out without Our Foodpal order fees until July 2013. Customers can order as little or as much as they want without the worry of our pyramid prices. See terms and agreements for more details or contact us at 
    %a{href: "mailto:info@foodpal.com", target: "_blank"}> info@foodpal.com
    \. Processing fees not included. 
