- provide(:title, 'Careers')
.content
  %div{style: "float:left;width: 530px;"}
    %h4 Careers
    %div Are you interested in applying your skills with a fast-paced and driven company? Are you looking for a positive atmosphere and work-life balance mentality when it comes to the step in your career?
    %div  
    %div
      Foodpal provides its employees with a creative and productive environment, while the brand expands its markets around the country. Currently, Foodpal is looking for driven and talented individuals to join the team. With the unique opportunities available in our creative, marketing, accounting and IT departments, recent graduates and experienced candidates are welcome to apply. If you are passionate about computer development field or think you fit the bill to put your sales and marketing skills to good use with one of the fastest growing companies in the nation, send your cover letter and resume to 
      %a{href: "mailto:careers@foodpal.com", target: "_blank"}> careers@foodpal.com
      \ and we will contact you within 24 hours. 
    %div  
    %div
      %h4 Available Opportunities:
    %ul
      %li Director of Accounting
      %li Marketing Coordinator
      %li Graphic Designer I
  %div{style: "float:left;"}
    %img{alt: "", src: "/assets/career picture.jpg", style: "width: 367px; height: 408px;padding: 0;border: 0; margin: 0"}/
  #lineSeparator
  %div{style: "float:left;width: 530px;"}
    %h4 Interships 2013
    %p
      Still in school and looking for course credit and an opportunity to earn cash? An internship is a great way to get your foot in the door and one step closer to the workforce! As a rapidly expanding company and our staff is looking to find the newest and brightest candidates before graduation! Foodpal is now recruiting individuals for internship positions in our marketing and IT departments. Our 2013 is scheduled to begin, see below about how you can join our team and strengthen your resume at the same time!
      %p
        If you are currently over the age of 18 and in college or entering a two to four year college or university, apply here or send your resume to
        %a{href: "mailto:internships@foodpal.com"} internships@foodpal.com
        and we will contact you within 24 hours.
    %h4.p1 Upcoming 2014 Internship Programs 
    %p.p2  
    %p.p1 Still in school and looking for course credit and an opportunity to earn experience with bonus incentives? An internship is a great way to get your foot in the door and one step closer to the workforce! As a rapidly expanding company, our staff is looking to find the newest and brightest candidates to add to our team.  We are currently interviewing candidates for the 2013 semester and upcoming 2014 semester.  Che Find out how you can join our team and strengthen your resume at the same time!
    %p.p2  
    %p.p1
      If you are entering a two to four year college or university, email your resume to
      %a{href: "mailto:internships@foodpal.com"} info@foodpal.com
      and we will contact you as soon as possible! 
  #careerPerks.green-block{style: "float:left;width: 367px;"}
    %h4{style: "text-align: center;"} PERKS
    %ul
      %li.li1 Course Credit Opportunities
      %li.li1 Flexible Hours
      %li.li1 4, 8, 10 or 12 week Internship Programs
      %li.li1 Rewarding Bonus Programs
      %li.li1 Receive recommendation letters and LinkedIn recommendations with requests
      %li.li1 Opportunities to earn experience and learn more about areas in IT Development, Graphic Design and Marketing
  %p{style: "text-align:center;margin-top:10px;"}
    %img{alt: "", src: "/assets/bottom map.jpg", style: "padding: 0;border: 0;"}/