.content

  %img{alt: "", src: "/assets/379226_10151529228697425_553253535_n.jpg", style: "width: 200px; height: 267px; float: left;"}
  %div
    %p In 2010, Foodpal was a concept created by founder, Stefan Moczarski. Moczarski was accustomed to traveling the world during their high school and college careers; visiting the local hotspots and exploring the different cultures one-by-one. During his globetrotting journeys, Moczarski wined and dined in some of the most exotic cities in the world.  
    %p The restaurants in South America and the cafes in Europe were just as popular as the dining establishments in the United States. Although, without a means of marketing these “hidden gem” restaurants, new customers would never know they existed. Establishments inside and outside the United States were missing out on new business sales, and introducing new customers to their delicious menu items.  

    %p Moczarski decided to take matters into his own hands and develop an online platform to spread the word about these businesses.  It only made sense to begin this endeavor in the area they knew best; His home city of Miami, Florida. The city was an ideal business launch location, and his hopes to expand internationally would not be far behind.