.content
  %p
    %img{alt: "", src: "/assets/icon.jpg", style: "font-size: 13px; line-height: 20px; background-color: rgb(255, 255, 255); width: 111px; height: 200px; float: left; border-width: 0px; border-style: solid; margin: 10px;"}/
  %p
    %span{style: "font-size: 13px;"} Let your iPhone become your lunch-saver! Search – Choose – Order – and Enjoy your favorite dish with FoodPal. Our applications lets you to order online anywhere anytime. Can you imagine something more comfortable?
  %div
    %div{style: "font-size: 13px; line-height: 20px;"}  
    %div{style: "font-size: 13px; line-height: 20px;"} The functions of FoodPal are set on a way that makes your everyday order more interesting. Thanks to search-box you can discover a lot of interesting, may be unknown restaurants for you. You can try various cuisines beginning from Asian food to classical American one.
    %p{style: "font-size: 13px;margin-left: 80px; font-size: 13px;"}  
    %p{style: "font-size: 13px;margin-left: 80px; font-size: 13px;"}  
    %p{style: "font-size: 13px;margin-left: 80px; font-size: 13px;"}  
    %p{style: "font-size: 13px;margin-left: 80px; font-size: 13px;"}  
    %p{style: "font-size: 13px;margin-left: 80px; font-size: 13px;"}  
    %ul{style: "font-size: 13px; line-height: 20px;"}
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} Download FoodPal’s application to your iPhone.
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} Register yourself taking a few general steps: enter your name, postal address, e-mail address and you are ready!
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} The search-box makes easier to filter restaurants by city and cuisine.
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} View the menus, read the ratings and comments for each restaurant. Rating and comments help you a lot in choosing. They usually tell all the pros and contras of a given place, food.
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} Discover new places and exotic foods by one click!
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} Choose between delivery and pick-up. A perfect solution to order and grab with yourself. Fast and easy!
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} See what FoodPal recommends for you with the FoodPal recommendation system.
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} History allows you to see what you’ve ordered and make a reorder if desired. Also it shows the operations you made on FoodPal, if you paid for the items or you just added to cart, have you already place the order, has it already delivered etc. It offers you a great comfort. 
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} If you are not sure how to use the application – there is an option with general help. Don’t hesitate to use it!
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} All the main options are put in this application: cart, search system, general options and settings.
      %li{style: "font-size: 13px;"}
        %p{style: "margin-left: 40px; font-size: 13px;"} FoodPal offers you hundreds of restaurants and a wide range of cuisine in one click anywhere, anytime.
    %div{style: "font-size: 13px; line-height: 20px;"}  
    %div{style: "font-size: 13px; line-height: 20px;"} The easiest way to order online - FoodPal.
    %div{style: "font-size: 13px; line-height: 20px;"}
      %span{style: "font-size: 13px; line-height: 20px;"}
         * Please
        %a{href: "http://foodpal.com/contact"} contact us
        if you have questions.
    %div{style: "font-size: 13px; line-height: 20px;"} Screenshots:
    %div{style: "font-size: 13px; line-height: 20px;"}
      %table{border: "1", cellpadding: "1", cellspacing: "1", style: "font-size: 13px; width: 500px;", class: "panel default-panel"}
        %tbody{style: "font-size: 13px;"}
          %tr{style: "font-size: 13px;"}
            %td{style: "font-size: 13px;"}  
            %td{style: "font-size: 13px;"}
              %img{alt: "", src: "/assets//p3.jpg", style: "font-size: 13px; background-color: rgb(255, 255, 255); line-height: 20px; width: 204px; height: 300px;"}/
            %td{style: "font-size: 13px;"}
              %img{alt: "", src: "/assets//p4.jpg", style: "font-size: 13px; background-color: rgb(255, 255, 255); line-height: 20px; width: 204px; height: 300px;"}/
          %tr{style: "font-size: 13px;"}
            %td{style: "font-size: 13px;"}
              %img{alt: "", src: "/assets//p6.jpg", style: "font-size: 13px; background-color: rgb(255, 255, 255); line-height: 20px; width: 204px; height: 300px;"}/
            %td{style: "font-size: 13px;"}
              %img{alt: "", src: "/assets//p16.jpg", style: "font-size: 13px; background-color: rgb(255, 255, 255); line-height: 20px; width: 204px; height: 300px;"}/
            %td{style: "font-size: 13px;"}
              %img{alt: "", src: "/assets//p14.jpg", style: "width: 204px; height: 300px;"}/
      %p{style: "font-size: 13px; text-align: center;"}  
      %p{style: "font-size: 13px;"}  
    %p{style: "font-size: 13px; line-height: 20px;"}  
  %p  
  %p  