.content
  .row
    .col-xs-6
      %h1{style: "color: #333333; font-size: 20px; font-weight: 500; text-align: center; padding-top: 30%;"} Maybe you tried to change something you didn't have access to.
    .col-xs-6
      = image_tag("homer-pythagoras.png")


