.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
  %h4#myModalLabel.modal-title Load Menus from Exel
.modal-body{style: "overflow: hidden"}
  =form_tag(restaurants_locations_import_excel_path, :multipart=>true, :method => 'post') do
    Select an Excel File :
    = file_field_tag 'excel'
    = submit_tag 'load', class: 'btn btn-primary btn-success', :id => 'load_excel', :style => "float: right"